**/.DS_STORE
zsh/.extra

atom/blob-store
atom/compile-cache
atom/dev
atom/storage
atom/.apm
atom/.node-gyp
atom/.npm
atom/packages
atom/split-diff
atom/git-time-machine
atom/recovery

vim/.vim/plugged
