## Tools
alias cp='cp -iv'                           # Preferred 'cp' implementation
alias mv='mv -iv'                           # Preferred 'mv' implementation
alias mkdir='mkdir -pv'                     # Preferred 'mkdir' implementation
alias f='open -a Finder ./'                 # f:            Opens current directory in MacOS Finder
alias c='clear'                             # c:            Clear terminal display
alias DT='tee ~/Desktop/terminalOut.txt'    # DT:           Pipe content to file on MacOS Desktop

## Edit Shortcuts
alias subl='/Applications/sublime\ Text.app/Contents/SharedSupport/bin/subl'
alias edit='atom'                           # edit:         Opens any file in atomime editor
alias editgit='edit ~/.gitconfig'
alias editbash='edit ~/.bash_profile'
alias editzsh='edit ~/.zshrc'
alias reload='source ~/.zshrc'
alias vi=vim
alias ag='ag --hidden -S'

# Npm Commands
alias ni='npm install'
alias nis='npm install --save'
alias nid='npm install --save-dev'
alias nig='npm install --global'
alias nus='npm uninstall --save'
alias nud='npm uninstall --save-dev'
alias nup='npm update'
alias nupg='npm update -g'
alias ns='npm start'
alias nt='npm test'
alias nit='npm install && npm test'
alias nk='npm link'
alias nr='npm run'
alias nf='npm cache clean && rm -rf node_modules && npm install'
alias nlg='npm list --global --depth=0'
alias no='npm outdated --depth=0'
alias nog='npm outdated --global --depth=0'

## Server quick starts
alias js='jekyll serve --watch'
alias serve='python -m SimpleHTTPServer 4000'
alias be='bundle exec'

# Directory shortcuts
WORK_DIR=~/work
PROJECT_DIR=~/projects

alias d='cd ~/Desktop'
alias w='cd ${WORK_DIR}'
alias p='cd ${PROJECT_DIR}'


# Work Stuff
alias tunnelBeta="ssh -L 6374:127.0.0.1:6374 162.216.42.87"
alias tunnelQa="ssh -L 8484:127.0.0.1:8484 204.13.108.176"
alias pims='cd ${WORK_DIR}/pims'
alias brochure='cd ${WORK_DIR}/brochure'
alias clinic='cd ${WORK_DIR}/clinic'
