## Tools
alias f='open -a Finder ./'
alias c='clear'
alias dt='tee ~/Desktop/terminalOut.txt'
alias diskspace_report="df -P -kHl"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias dig="dig +nocmd any +multiline +noall +answer"
alias fs="stat -f \"%z bytes\""
alias cleanup_dsstore="find . -name '*.DS_Store' -type f -ls -delete"
alias tmux="TERM=xterm-256color tmux -2"

## System
alias mv='mv -v'
alias cp='cp -v'
alias chmox='chmod +x'
alias mkdir='mkdir -pv'

###
# time to upgrade `ls`

# use coreutils `ls` if possible…
hash gls >/dev/null 2>&1 || alias gls="ls"

# always use color, even when piping (to awk,grep,etc)
if gls --color > /dev/null 2>&1; then colorflag="--color"; else colorflag="-G"; fi;
export CLICOLOR_FORCE=1

# ls options: A = include hidden (but not . or ..), F = put `/` after folders, h = byte unit suffixes
alias ls='gls -AFh ${colorflag} --group-directories-first'
alias lsd='ls -l | grep "^d"' # only directories
#    `la` defined in .functions
###


## Edit Shortcuts
export EDITOR="vim"
alias subl='/Applications/sublime\ Text.app/Contents/SharedSupport/bin/subl'
alias edit='vim'
alias editgit='edit ~/.gitconfig'
alias editbash='edit ~/.bash_profile'
alias editzsh='edit ~/.zshrc'
alias editmicro='edit ~/.config/micro/settings.json'
alias reload='source ~/.zshrc'
alias vi="vim"
alias v="vim"
alias g="git"
alias ag='ag --follow --hidden'
alias hosts='sudo vim /etc/hosts'

# NPM Shorthand
alias ni='npm install'
alias nis='npm install --save'
alias nid='npm install --save-dev'
alias nig='npm install --global'
alias nus='npm uninstall --save'
alias nud='npm uninstall --save-dev'
alias nup='npm update'
alias nupg='npm update -g'
alias ns='npm start'
alias nt='npm test'
alias nit='npm install && npm test'
alias nk='npm link'
alias nr='npm run'
alias nf='npm cache clean && rm -rf node_modules && npm install'
alias nlg='npm list --global --depth=0'
alias no='npm outdated --depth=0'
alias nog='npm outdated --global --depth=0'

# Yarn Shorthand
alias ya='yarn add'
alias yad='yarn add --dev'
alias yt='yarn test'
alias yr='yarn remove'
alias yo='yarn outdated'
alias yag='yarn global add'
alias yog='yarn global outdated'

## Server Stuff
alias js='jekyll serve --watch'
alias serve='python -m SimpleHTTPServer 4000'
alias be='bundle exec'
alias rs='bundle exec rails s'
alias rc='bundle exec rails c'

# Directory shortcuts
WORK_DIR=~/work
PROJECT_DIR=~/projects

alias d='cd ~/Desktop'
alias w='cd ${WORK_DIR}'
alias p='cd ${PROJECT_DIR}'
