# Makes new Dir and jumps inside
mkd () {
  mkdir -p "$1" && cd "$1";
}

ff() {
  find . | ag "/.*$1[^/]*$"
}

fd() {
  find . -type d | ag "/.*$1[^/]*$"
}

# Runs any time we change directo
chpwd() {
  echo ""
  local cur_cwd=$(echo $PWD | sed -e "s|^$HOME|~|" -e 's|^/private||')
  printf "%s⇢ %sEntering %s%s%s\n\n" $fg_bold[blue] $reset_color $fg_bold[green] $cur_cwd $reset_color
  ls
}

# Moves a file to the MacOS trash
trash () { command mv "$@" ~/.Trash ; }

# Opens any file in MacOS Quicklook Preview
ql () { qlmanage -p "$*" >& /dev/null; }    # ql:

# Get average number of lines in directory
avglines () {wc -l **/*.$1 | awk '{if($2 != "total"){s+=$1}} END {print "Average lines: " s/NR " lines"}'}

# Find text in files
hunt () {
  grep -rniw $1 -e $2
}

# Get weather forecast
weather () {
  curl wttr.in/$1
}

function server() {
	local port="${1:-8000}"
	open "http://localhost:${port}/" &
	# statik is good because it won't expose hidden folders/files by default.
	# npm install -g statik
	statik --port "$port" .
}

# Copy w/ progress
cp_p () {
  rsync -WavP --human-readable --progress $1 $2
}

# get gzipped size
function gz() {
	echo "orig size    (bytes): "
	cat "$1" | wc -c
	echo "gzipped size (bytes): "
	gzip -c "$1" | wc -c
}

WHO_COLOR="$fg[green]"
TEXT_COLOR="$fg[white]"
COLON_COLOR="$fg[white]"
END_COLOR="\e[m"

function quote() {
    Q=$(curl -s --connect-timeout 2 "http://www.quotationspage.com/random.php3" | iconv -c -f ISO-8859-1 -t UTF-8 | grep -m 1 "dt ")
    TXT=$(echo "$Q" | sed -e 's/<\/dt>.*//g' -e 's/.*html//g' -e 's/^[^a-zA-Z]*//' -e 's/<\/a..*$//g')
    W=$(echo "$Q" | sed -e 's/.*\/quotes\///g' -e 's/<.*//g' -e 's/.*">//g')
    if [ "$W" -a "$TXT" ]; then
      echo "${TEXT_COLOR}“${TXT}”${END_COLOR}"
      echo "${WHO_COLOR}- ${W}"
    fi
}

function versions() {
  echo ""
  printf "%sChecking versions...%s\n" $fg[yellow] $reset_color
  echo "node $(node --version)"
  echo "npm $(npm --version)"
  echo "$(ruby -v)"
  echo "$(git --version)"
  echo "$(python --version)"
}

unset_aws() {
  for i in AWS_ACCESS_KEY_ID AWS_DEFAULT_REGION AWS_REGION AWS_SECRET_ACCESS_KEY AWS_SECURITY_TOKEN AWS_SESSION_TOKEN AWS_VAULT; do unset $i; done
}
function assume {
  unset_aws
  eval $( aws-vault exec $@ -- env | grep -E "^AWS_" | sed -e "s/^/export\ /" ) && aws --output text --query Arn sts get-caller-identity
}
function unassume {
	unset_aws
	aws-vault remove $1 --sessions-only > /dev/null
}

function export_aws_env {
  export AWS_ACCESS_KEY_ID=`cat ~/.aws/credentials | grep aws_access_key_id | awk '{print $3}'`
  export AWS_SECRET_ACCESS_KEY=`cat ~/.aws/credentials | grep aws_secret_access_key | awk '{print $3}'`
  export AWS_SESSION_TOKEN=`cat ~/.aws/credentials | grep aws_session_token | awk '{print $3}'`
  export AWS_SECURITY_TOKEN=`cat ~/.aws/credentials | grep aws_security_token | awk '{print $3}'`
}

function goodrx_aws {
  gimme-aws-creds -m
  export_aws_env
}

function ssh_dev() {
  assume goodrx
  ssh -N -L 3307:rds.sappira.xyz:3306 heydoctor-dev.bastion.grxweb.com
}

function ssh_prod() {
  assume goodrx
  ssh -N -L 3307:rds.sappira.com:3306 heydoctor-prod.bastion.grxweb.com
}

function aws_login() {
  aws_logout
  eval $(aws-okta-processor authenticate --environment --user kalwyn --organization goodrx.okta.com)
}

function aws_logout() {
  setopt localoptions rmstarsilent
  unset_aws
  rm -rf ~/.aws/boto/cache/*
}
