# Makes new Dir and jumps inside
mkd () {
  mkdir -p "$1" && cd "$1";
}

ff() {
  find . | ag "/.*$1[^/]*$"
}

fd() {
  find . -type d | ag "/.*$1[^/]*$"
}

# Runs any time we change directo
chpwd() {
  echo ""
  local cur_cwd=$(echo $PWD | sed -e "s|^$HOME|~|" -e 's|^/private||')
  printf "%s⇢ %sEntering %s%s%s\n\n" $fg_bold[blue] $reset_color $fg_bold[green] $cur_cwd $reset_color
  ls
}

# Moves a file to the MacOS trash
trash () { command mv "$@" ~/.Trash ; }

# Opens any file in MacOS Quicklook Preview
ql () { qlmanage -p "$*" >& /dev/null; }    # ql:

# Get average number of lines in directory
avglines () {wc -l **/*.$1 | awk '{if($2 != "total"){s+=$1}} END {print "Average lines: " s/NR " lines"}'}

# Find text in files
hunt () {
  grep -rniw $1 -e $2
}

# Get weather forecast
weather () {
  curl wttr.in/$1
}

function server() {
	local port="${1:-8000}"
	open "http://localhost:${port}/" &
	# statik is good because it won't expose hidden folders/files by default.
	# npm install -g statik
	statik --port "$port" .
}

# Copy w/ progress
cp_p () {
  rsync -WavP --human-readable --progress $1 $2
}

# get gzipped size
function gz() {
	echo "orig size    (bytes): "
	cat "$1" | wc -c
	echo "gzipped size (bytes): "
	gzip -c "$1" | wc -c
}

WHO_COLOR="$fg[green]"
TEXT_COLOR="$fg[white]"
COLON_COLOR="$fg[white]"
END_COLOR="\e[m"

function quote() {
    Q=$(curl -s --connect-timeout 2 "http://www.quotationspage.com/random.php3" | iconv -c -f ISO-8859-1 -t UTF-8 | grep -m 1 "dt ")
    TXT=$(echo "$Q" | sed -e 's/<\/dt>.*//g' -e 's/.*html//g' -e 's/^[^a-zA-Z]*//' -e 's/<\/a..*$//g')
    W=$(echo "$Q" | sed -e 's/.*\/quotes\///g' -e 's/<.*//g' -e 's/.*">//g')
    if [ "$W" -a "$TXT" ]; then
      echo "${TEXT_COLOR}“${TXT}”${END_COLOR}"
      echo "${WHO_COLOR}- ${W}"
    fi
}

function versions() {
  echo ""
  printf "%sChecking versions...%s\n" $fg[yellow] $reset_color
  echo "node $(node --version)"
  echo "npm $(npm --version)"
  echo "$(ruby -v)"
  echo "$(git --version)"
  echo "$(python --version)"
}
