"*":
  "atom-beautify":
    general:
      _analyticsUserId: "9cf2c109-9f16-425f-81c3-ebcf7e98084f"
    js:
      indent_size: 2
    json:
      indent_size: 2
    jsx:
      indent_size: 2
  "atom-material-ui":
    colors:
      abaseColor: "#2196f3"
      genAccent: true
      paintCursor: true
      predefinedColor: "Blue"
    fonts:
      fontSize: 15
    tabs:
      compactTabs: true
      noTabMinWidth: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
  "atom-ternjs":
    displayAboveSnippets: true
    useSnippets: true
  "autocomplete-python":
    useKite: false
  core:
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    destroyEmptyPanes: false
    disabledPackages: [
      "git-log"
      "language-gfm"
      "prettier-atom"
      "pigments"
    ]
    followSymlinks: false
    ignoredNames: [
      "node_modules"
      "bower_components"
    ]
    projectHome: "/Users/Kyle/Projects"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "friendly-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "Fira Code"
    fontSize: 12
    lineHeight: 1.7
    preferredLineLength: 80
    scrollPastEnd: true
  "exception-reporting":
    userId: "a10a243e-b2f2-19f4-1013-214ea7f0d249"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "git-plus":
    general:
      _analyticsUserId: "8144fe19-46f1-4a7a-af8c-e631cb955d98"
  "highlight-line":
    enableBackgroundColor: false
    underline: "dashed"
  hyperclick: {}
  "language-babel":
    autoIndentJSX: true
    suppressTranspileOnSaveMessages: false
  linter: {}
  "linter-eslint": {}
  "linter-flow":
    executablePath: "./node_modules/.bin/flow"
  "linter-ui-default":
    panelHeight: 55
    showPanel: true
    statusBarPosition: "Right"
  "markdown-preview": {}
  minimap:
    moveCursorOnMinimapClick: true
    scrollAnimation: true
  "mocha-test-runner": {}
  navigate:
    f1: "http://devdocs.io/#q=&searchterm"
    f10: "https://duckduckgo.com/?q=&searchterm"
    f6: "http://www.bing.com/search?q=&searchterm"
  "nord-atom-ui":
    darkerFormFocusEffect: true
    tabSizing: false
  "northem-atom-ui":
    tabSizing: false
  "northem-dark-atom-ui":
    tabSizing: false
  "northem-light-atom-ui":
    tabSizing: false
  "one-light-ui":
    fontSize: 12
    layoutMode: "Spacious"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "prettier-atom":
    bracketSpacing: false
    formatOnSave: true
  "ruby-test":
    rspecAllCommand: "spring rspec --tty spec"
    rspecFileCommand: "spring rspec --tty {relative_path}"
    specFramework: "rspec"
  "seti-syntax":
    dynamicColor: false
  "seti-ui":
    compactView: true
    fileIcons: false
    font: "Default Atom Font"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  "tool-bar":
    iconSize: "16px"
    position: "Right"
  ui:
    fontFamily: "Fira Code"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  zentabs:
    neverCloseUnsaved: true
