packages: [
  "atom-beautify"
  "atom-jade"
  "atom-jest-snippets"
  "atom-material-syntax"
  "atom-material-syntax-light"
  "atom-material-ui"
  "atom-ternjs"
  "autocomplete-modules"
  "autocomplete-python"
  "autoprefixer"
  "busy-signal"
  "color-picker"
  "docblockr"
  "dracula-theme"
  "emmet"
  "file-icons"
  "flex-tool-bar"
  "flow-ide"
  "friendly-syntax"
  "git-plus"
  "git-time-machine"
  "haskell-grammar"
  "highlight-selected"
  "intentions"
  "language-api-blueprint"
  "language-babel"
  "language-graphql"
  "language-ini"
  "language-jade"
  "language-lua"
  "language-markdown"
  "language-ocaml"
  "language-pug"
  "language-swift"
  "language-thrift"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "markdown-preview-plus"
  "merge-conflicts"
  "minimap"
  "nord-atom-syntax"
  "nord-atom-ui"
  "northem-atom-syntax"
  "northem-atom-ui"
  "northem-dark-atom-syntax"
  "northem-dark-atom-ui"
  "northem-light-atom-ui"
  "oceanic-reef-syntax"
  "octocat-syntax"
  "open-in-browser"
  "open-recent"
  "package-sync"
  "pigments"
  "project-manager"
  "react-snippets"
  "regex-railroad-diagram"
  "script"
  "set-syntax"
  "sort-lines"
  "tabs-to-spaces"
  "todo-show"
  "tool-bar"
  "zentabs"
]
