packages: [
  "atom-jade"
  "atom-material-syntax"
  "atom-material-syntax-light"
  "atom-material-ui"
  "atom-ternjs"
  "autocomplete-modules"
  "autocomplete-python"
  "autoprefixer"
  "busy-signal"
  "color-picker"
  "emmet"
  "es6-javascript"
  "file-icons"
  "flex-tool-bar"
  "friendly-syntax"
  "git-control"
  "git-plus"
  "git-time-machine"
  "github-atom-light-syntax"
  "highlight-selected"
  "intentions"
  "language-api-blueprint"
  "language-babel"
  "language-jade"
  "language-markdown"
  "language-pug"
  "language-swift"
  "linter"
  "linter-csslint"
  "linter-eslint"
  "linter-flow"
  "linter-ui-default"
  "markdown-preview-plus"
  "merge-conflicts"
  "minimap"
  "nord-atom-syntax"
  "nord-atom-ui"
  "northem-light-atom-ui"
  "open-in-browser"
  "open-recent"
  "package-sync"
  "pigments"
  "project-manager"
  "pure-syntax"
  "rad-syntax"
  "react-snippets"
  "regex-railroad-diagram"
  "script"
  "seti-syntax"
  "sort-lines"
  "symbols-tree-view"
  "sync-settings"
  "tabs-to-spaces"
  "todo-show"
  "tool-bar"
]
